{% extends "selectbase.html" %}
{% block title %}白内障手术人员列表{% endblock %}
{% block admincssjs %}{% endblock %}

{% block orderselect %}
<form method="POST" action="/cc_approvallist/" class="pure-form">
  <fieldset align="center" class="mselect">
    {{ form }}
    <button type="submit" class="pure-button pure-button-success">查询</button>
  </fieldset>
</form>
{% endblock %}

{% block tabletitle %}白内障手术人员列表{% endblock %}
{% block ordertable %}
<table table-layout="fixed" align="center"  class="pure-table pure-table-bordered">
  <COLGROUP>
    <COL width="20">
    <COL width="60">
    <COL width="20">
    <COL width="60">
    <COL width="60">
    <COL width="100">
    <COL width="20">
    <COL width="20"> 
    <COL width="20"> 
    <COL width="20"> 
    <COL width="20"> 
  </COLGROUP>
  <thead>
    <tr>
      <th>序号</th>
      {% for item in curppname %}
      <th>{{ item }}</th>
      {% endfor %}
    </tr>
  </thead>
  {% for ipp, curid, tmpflag in curpp %}
  <tr>
    <td>{{ forloop.counter|add:startPos}}</td>
    {% for item in ipp %}
    {% if not item %}
    <td>&nbsp;</td>
    {% else %}
    <td >{{ item }}</td>
    {% endif %}
    {% endfor %}

    {% if tmpflag == 0 %}    
    <td><a class="pure-button " href="/cc_approvalinput/{{ curid }}/">修改</a></td>
    {% else %}
    <td><a class="pure-button " href="/cc_approvalinput/{{ curid }}/">审核</a></td>
    {% endif %}
    
  </tr>
  {% endfor %}
</table>
{% endblock %}

{% block otherbutton %}
<a class="pure-button pure-button-primary" style="margin-left: 30px;" href="/cc_onekeyapproval/">一键审核</a>
{% endblock %}
