{% extends "selectbase.html" %}
{% block title %}光明行进度{% endblock %}
{% block admincssjs %}{% endblock %}

{% block orderselect %}
<form method="POST" action="/gmx_list/" class="pure-form">
  <fieldset align="center" class="mselect">
    {{ form }}
    <button type="submit" class="pure-button pure-button-success">查询</button>
  </fieldset>
</form>
{% endblock %}

{% block tabletitle %}光明行进度{% endblock %}
{% block ordertable %}
<table align="center" class="pure-table pure-table-bordered" width="700px" id="SelectTable">
  <COLGROUP>
    <COL width="20">
    <COL width="60">
    <COL width="220">
    <COL width="20">
    <COL width="20">
  </COLGROUP>
  <thead>
    <tr>
      <th>序号</th>
      {% for item in curppname %}
      <th>{{ item }}</th>
      {% endfor %}
    </tr>
  </thead>
  {% for ipp in curpp %}
  <tr>
    <td>{{ forloop.counter|add:startPos}}</td>
    {% for item in ipp %}
    {% if not item %}
    <td>&nbsp;</td>
    {% else %}
    <td>{{ item }}</td>
    {% endif %}
    {% endfor %}
    
  {% endfor %}
  </tr>
</table>
{% endblock %}

{% block otherbutton %}
{% endblock %}