{% extends "selectbase.html" %}
{% block title %}不符合人员信息删除确认{% endblock %}
{% block admincssjs %}{% endblock %}

{% block orderselect %}
{% endblock %}

{% block tabletitle %}删除不符合手术人员信息确认{% endblock %}
{% block ordertable %}
<div class="pure-u-4-5 " style="margin:5px 7.4% 10px 7.4%; overflow-x: auto; overflow-y: auto; height: 90%; width:85%;"> 
<table table-layout="fixed" align="center" class="pure-table pure-table-bordered" width="120%" height="100%" id="SelectTable">
  <COLGROUP>
    <COL width="20">
    <COL width="60">
    <COL width="20">
    <COL width="60">
    <COL width="60">
    <COL width="100">
    <COL width="20">
    <COL width="20"> 
    <COL width="20"> 
    <COL width="20"> 
    <COL width="120"> 
  </COLGROUP>
  <thead>
    <tr>
      <th>序号</th>
      {% for item in curppname %}
      <th>{{ item }}</th>
      {% endfor %}
    </tr>
  </thead>
  {% for ipp in curpp %}
  <tr>
    <td>{{ forloop.counter|add:startPos}}</td>
    {% for item in ipp %}
    {% if not item %}
    <td>&nbsp;</td>
    {% else %}
    <td style="font-size:6px!important;">{{ item }}</td>
    {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
</table>
</div>
{% endblock %}

{% block otherbutton %}
<a class="pure-button pure-button-primary " style="background: rgb(202, 60, 60);margin-left: 30px;" href="/notcc_delete_ok/{{ curid }}">删除该条信息</a>
{% endblock %}